<div class="sectors">
  <p class="sectors-title">Sectors</p>
  <button *ngFor="let sector of sectors" (click)="selectSector(sector)">
    {{ sector.sector_Name }}
  </button>
</div>

<div class="parking-spots">
  <ng-container *ngFor="let spot of parkingSpots">
    <app-parking-spot class="spot"
      *ngIf="spot.sector_ID === selectedSector?.sector_ID"
      [spot]="spot"
      [selected]="spot === selectedSpot"
      (select)="selectParkingSpot($event)"
    ></app-parking-spot>
  </ng-container>
</div>

<div class="reservation-form">
  <form (ngSubmit)="submitReservation()">
    <input type="text" placeholder="Plate Number" maxlength="10" [(ngModel)]="formInput.license_Plate" name="license_Plate" required />
    <input type="date" [(ngModel)]="formInput.start_Date" name="start_Date" required />
    <input type="date" [(ngModel)]="formInput.end_Date" name="end_Date" required />
    <input type="time" [(ngModel)]="formInput.start_Time" name="start_Time" required />
    <input type="time" [(ngModel)]="formInput.end_Time" name="end_Time" required />
    <button type="submit" [disabled]="!formInput.license_Plate || !formInput.start_Time || !formInput.end_Time || !selectedSpot">
      Reserve
    </button>
  </form>
</div>